{
    "presets": [
        [
            "@babel/preset-env",
            {
                "bugfixes": true,
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties"],
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
    ]
}
