.CodeMirror,
textarea {
    display: block;
    width: 100%;
    height: 100% !important;
}

.cm-s-jsv.CodeMirror {
    background: #2a2f3a;
    color: #f8f8f2;
    font-size: 1rem;
}
.cm-s-jsv div.CodeMirror-selected {
    background: #49483e;
}
.cm-s-jsv .CodeMirror-line::selection,
.cm-s-jsv .CodeMirror-line > span::selection,
.cm-s-jsv .CodeMirror-line > span > span::selection {
    background: rgba(73, 72, 62, 0.99);
}
.cm-s-jsv .CodeMirror-line::-moz-selection,
.cm-s-jsv .CodeMirror-line > span::-moz-selection,
.cm-s-jsv .CodeMirror-line > span > span::-moz-selection {
    background: rgba(73, 72, 62, 0.99);
}
.cm-s-jsv .CodeMirror-gutters {
    background: #2a2f3a;
    border-right: 0px;
}
.cm-s-jsv .CodeMirror-guttermarker {
    color: white;
}
.cm-s-jsv .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
}
.cm-s-jsv .CodeMirror-linenumber {
    color: #d0d0d0;
}
.cm-s-jsv .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-jsv span.cm-comment {
    color: #75715e;
}
.cm-s-jsv span.cm-atom {
    color: #4ba7ef;
}
.cm-s-jsv span.cm-number {
    color: #d19a66;
}

.cm-s-jsv span.cm-comment.cm-attribute {
    color: #97b757;
}
.cm-s-jsv span.cm-comment.cm-def {
    color: #bc9262;
}
.cm-s-jsv span.cm-comment.cm-tag {
    color: #bc6283;
}
.cm-s-jsv span.cm-comment.cm-type {
    color: #5998a6;
}

.cm-s-jsv span.cm-keyword {
    color: #f92672;
}
.cm-s-jsv span.cm-builtin {
    color: #66d9ef;
}
.cm-s-jsv span.cm-string {
    color: #a3eea0;
}

.cm-s-jsv span.cm-variable {
    color: #f8f8f2;
}
.cm-s-jsv span.cm-variable-2 {
    color: #9effff;
}
.cm-s-jsv span.cm-variable-3,
.cm-s-jsv span.cm-type {
    color: #66d9ef;
}
.cm-s-jsv span.cm-def {
    color: #fd971f;
}
.cm-s-jsv span.cm-bracket {
    color: #f8f8f2;
}
.cm-s-jsv span.cm-tag {
    color: #f92672;
}
.cm-s-jsv span.cm-header {
    color: #ae81ff;
}
.cm-s-jsv span.cm-link {
    color: #ae81ff;
}
.cm-s-jsv span.cm-error {
    background: #f92672;
    color: #f8f8f0;
}

.cm-s-jsv span.cm-property,
.cm-s-jsv span.cm-attribute {
    color: #6fb3d2;
}

.cm-s-jsv .CodeMirror-activeline-background {
    background: #373831;
}
.cm-s-jsv .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}
