json-viewer {
    --background-color: #23241f;
    --color: #f8f8f2;
    --string-color: #a3eea0;
    --number-color: #d19a66;
    --boolean-color: #4ba7ef;
    --null-color: #df9cf3;
    --key-color: #f9857b;
    --collapsed-color: #fff;
    --collapsed-background: #66d9ef;

    display: block;
    background-color: var(--background-color);
    color: var(--color);
    padding: 0.5em;
    font-family: monospace;
    font-size: 13px;
}

json-viewer ul,
json-viewer li {
    list-style: none;
    position: relative;
}

json-viewer ul:before {
    content: '';
    border-left: 1px solid #333;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
}

json-viewer ul {
    padding-left: 1.2em;
    clear: both;
}

json-viewer ul.hover:before {
    border-left: 1px solid #666;
}

.collapsed ul {
    display: none;
}

.null {
    color: var(--null-color, #df9cf3)
}

.key { 
    color: var(--key-color);
    display: inline-block;
}

.collapsable:before {
    color: var(--color);
    content: '-';
}

.collapsable.collapsableCollapsed:before {
    content: '+';
}

.collapsable {
    cursor: pointer;
}
.collapsable:hover {
    text-decoration: underline;
}

.string {
    color: var(--string-color);
}

.number {
    color: var(--number-color);
}

.boolean {
    color: var(--boolean-color);
}

.bracket {
}

.collapsed {
    font-size: 10px;
    background-color: var(--collapsed-background);
    color: var(--collapsed-color);
    padding: 0.3em;
    border-radius: 2px;
}